@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.note {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.note-title {
  font-weight: bold;
}
.note-content {
  color: #666;
  margin: 5px 0;
}

.main-note {
  background-color: white;
  flex: 1;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
